@tailwind base;
@tailwind components;
@tailwind utilities;


 /* .active {
  @apply text-cyan-500;
}

.active svg {
  @apply text-cyan-500;
}  */
body{
  background: black;
}
.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}
.bar:nth-child(6) {
  animation-delay: 1s;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ceaeae;
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease; /* Smooth transition for the background color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdb2b2;
}
